<!doctype html>
<!-- monolithic html template for blog.dart -->
<html lang="ko">
    <head>
        <title>
            DD Blog Tookit (monolith file)
        </title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/resource/base.css" type="text/css">
        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script>
        </script>
    </head>
    <body>
        <header>
            <details open="true">
                <summary>전체 메뉴</summary>
                <ul id="menu" class="menubar">
                    <li><a href="/blog/main">홈</a></li>
                    <li><a href="/blog/main">전체 글목록</a></li>
                    <li><a href="/blog/about">저작권 정보</a></li>
                    <li><a href="#">검색</a></li>
                </ul>
            </details>
        </header>
        <article>
            <div id="contents">
                {{contents}}
            </div>
        </article>
        <footer>
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="크리에이티브 커먼즈 라이선스" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />이 저작물은 <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">크리에이티브 커먼즈 저작자표시-동일조건변경허락 4.0 국제 라이선스</a>에 따라 이용할 수 있습니다.<br />
            Dollfie Dream(R)은 보크스(volks) 사의 상표명입니다.
        </footer>
    </body>
</html>