@charset "utf-8";

* {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

html {
    font-family: '맑은 고딕', 'Malgun Gothic', 'Apple Gothic', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1, h2, h3, h4, h5, h6 {
    margin-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    cursor: pointer;
    text-decoration: underline;
}

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
    margin-top: 1px;
    background-color: #bbb;
}

div#contents {
    margin: 1em 1em 1em 1em;
    padding: 1em 1em 1em 1em;
    border: 1px solid black;
}

ul#menu {
    font-size: 1.2em;
}
 ul#menu > li {
     display: inline-block;
     border: 1px solid black;
     border-top-left-radius: 10px;
     border-bottom-right-radius: 10px;
     margin-right: 1em;
     padding: 0.5em 0.5em 0.5em 0.5em;
 }

 ul#menu > li:hover {
     margin-top: 1px;
     background-color: #999;
 }

 body > footer {
     text-align: right;
     font-size: 0.75em;
 }